# Database
DB_HOST=db
DB_PORT=3306
DB_NAME=docreg
DB_USER=docreg_user
DB_PASS=docreg_pass
DB_ROOT_PASS=root_secret

# App
APP_NAME="Система за Входиране на Документи"
APP_BASE_URL=http://localhost:8080
APP_BASE_PATH=/

# For XAMPP set APP_BASE_URL=http://localhost and APP_BASE_PATH=/w26/docreg-5MI0600358-2MI0600298/

# Uploads
UPLOAD_MAX_SIZE=52428800
UPLOAD_PATH=uploads/docs
QR_PATH=uploads/qr

# Session
SESSION_LIFETIME=3600

# Encryption
CRYPTO_CIPHER=AES-256-CBC
